<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bike/styles.css' %}">
    <base href="{% static '/' %}">
    <title>{% block title %}Bike Statistics{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a {% if navigationbar_active == "home" %}class="active"{% endif %} href="{% url 'bike:bikeIndex' %}">Home</a></li>
                <li><a {% if navigationbar_active == "bikes" %}class="active"{% endif %} href="{% url 'bike:bikeList' %}">Bikes</a></li>
                <li><a {% if navigationbar_active == "refueling" %}class="active"{% endif %} href="{% url 'bike:refuelingList' %}">Refueling</a></li>
                <li><a {% if navigationbar_active == "maintenance" %}class="active"{% endif %} href="{% url 'bike:maintenanceList' %}">Maintenance</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    <p>
        Your Content should be displayed here.
    </p>
    {% endblock %}
</body>
</html>
