<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bike/styles.css' %}">
    <base href="{% static '/' %}">
    <title>{% block title %}Bike Statistics{% endblock %}</title>
</head>

<body>
<div id="navigationbar">
    <ul>
        <li><a {% if navigationbar_active == "home" %}class="active"{% endif %} href="{% url 'bike:bikeIndex' %}">Home</a></li>
        <li><a {% if navigationbar_active == "bikes" %}class="active"{% endif %} href="{% url 'bike:bikeList' %}">Bikes</a></li>
        <li><a {% if navigationbar_active == "refueling" %}class="active"{% endif %} href="{% url 'bike:refuelingList' %}">Refueling</a></li>
        <li><a {% if navigationbar_active == "maintanance" %}class="active"{% endif %} href="{% url 'bike:bikeIndex' %}">Maintanance</a></li>
    </ul>
</div>
<div id="content">
    {% block content %}
    <p>
        Your Content should be displayed here.
    </p>
    {% endblock %}
</div>
</body>
</html>
