{% extends "bike/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'bike/styles.css' %}">

{% block title %}Bikes{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center">
        <h1>Bikes</h1>
        <div style="margin-left: auto">
            <button type="button" onclick="window.location.href='{% url 'bike:bikeCreate' %}';">Add Bike</button>
        </div>
    </div>
    {% if bike_list %}
        <div class="boxBody">
            <div class="itemBox">
                <ul>
                    {% for bike in bike_list %}
                        <li><a href= {% url 'bike:bikeDetail' bike.ID %} >{{ bike.manufacturer }}  {{ bike.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No bikes are available.</p>
    {% endif %}
{% endblock %}
