{% extends "bike/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'bike/styles.css' %}">

{% block title %}Edit Refueling{% endblock %}

{% block content %}
    <h1>Edit Refueling {{ form.refueling.name }}</h1>
    <div class="boxBody">
        <div class="itemBox">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}
