{% extends "bike/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'bike/styles.css' %}">

{% block title %}Refueling{% endblock %}

{% block content %}
    <h1>Refueling</h1>
    {% if fueling_list %}
        <ul>
            {% for fueling in fueling_list %}
            <li><a href={% url 'bike:refuelingDetail' fueling.id %}>Fueling on {{ fueling.fuel_date }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No refueling are available.</p>
    {% endif %}
    <button class="testButton" type="button" onclick="window.location.href='{% url 'bike:refuelingCreate' %}';">Add Refueling</button>
{% endblock %}
