{% extends "bike/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'bike/styles.css' %}">

{% block title %}Refueling{% endblock %}

{% block content %}
{% if fuel %}
    <h1>{{ fuel }}</h1>
    <p>Fueling Date: {{ fuel.fuel_date }}</p>
    <p>Quantity: {{ fuel.quantity }}L </p>
    <p>Cost: {{ fuel.cost_per_litre }}€/L</p>
    <p>Total: {{ fuel.total_cost }}€</p>
    <p>Trip: {{ fuel.km_trip }}km</p>
    <p>Odometer Reading: {{ fuel.km_total }}km</p>
    <p>Bike: {{ fuel.bike }}</p>
    <button type="button" onclick="window.location.href='{% url 'bike:refuelingUpdate' fuel.id %}';">Edit</button>
    <button type="button" onclick="window.location.href='{% url 'bike:refuelingDelete' fuel.id %}';">Delete</button>
{% else %}
    <p> Refueling Not Found </p>
{% endif %}
{% endblock %}
