{% extends "bike/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'bike/styles.css' %}">

{% block title %}Refueling{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center">
        <h1>Refueling Statistics</h1>
        <div style="margin-left: auto">
            <button type="button" onclick="window.location.href='{% url 'bike:refuelingCreate' %}';">Add Refueling</button>
            <button type="button" onclick="toggleVisible('filterBox')">Filter</button>
        </div>
    </div>
    <div class="boxBody">
        <div class="itemBox" id="filterBox">
            <h2>Filter</h2>
            <form action="" method="get">
                {{ filter.form.as_p}}
                <div style="display: flex;">
                    <p style="margin-left: auto">
                        {% if display_clear %}
                            <input type="button" value="Clear" style="margin-left: unset;"
                                   onclick="window.location.href='{% url 'bike:refuelingList' %}';"/>
                        {% endif %}
                        <input type="submit" style="margin-left: 20px;"/>
                    </p>
                </div>
            </form>
        </div>

        {% if fueling_list %}
            <div class="itemBox">
                <h2>Refueling List</h2>
                <ul>
                    {% for fueling in fueling_list %}
                        <li><a href={% url 'bike:refuelingDetail' fueling.id %}>Fueling on {{ fueling.fuel_date }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="itemBox">
                <h2>Plot:</h2>
                <label for="plotSelect">Select Figure:</label>
                <select name="plots" id="plotSelect"
                        onchange="selectPlot(this.value)">
                    <option selected="selected">Fuel Economy</option>
                    <option>Fuel Prices</option>
                    <option>Odometer</option>
                </select>
                {% autoescape off %}
                    <div id="plot_1">
                        {{ plot_1 }}
                    </div>
                    <div id="plot_2" style="display: none">
                        {{ plot_2 }}
                    </div>
                    <div id="plot_3" style="display: none">
                        {{ plot_3 }}
                    </div>
                {% endautoescape %}
            </div>
        {% else %}
            <div class="itemBox">
                <p>No refueling entries available!</p>
                <p>If set, please try to adjust the filter to get more items.</p>
                <p>Otherwise try <a href={% url 'bike:refuelingCreate' %}>adding</a> more refueling entries.</p>
            </div>
        {% endif %}
    </div>
    <script>
        function toggleVisible(elemID, displayType = "block") {
            let elem = document.getElementById(elemID);
            if (elem.style.display === "none") {
                elem.style.display = displayType;
            } else {
                elem.style.display = "none";
            }
        }

        function selectPlot(plot) {
            let plots = {
                "Fuel Economy": "plot_1",
                "Fuel Prices": "plot_2",
                "Odometer": "plot_3",
            }
            let plot_num = 3
            for(let ii = 1; ii <= plot_num; ii += 1) {
                let elem = document.getElementById("plot_"+ii)
                elem.style.display = "none";
            }
            let elem = document.getElementById(plots[plot])
            elem.style.display = "block";
        }
    </script>
{% endblock %}
