<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Room Temperature</title>
    <link rel="stylesheet" href="{% static 'temp/styles.css' %}">
</head>
<body>
    <h1> Temperature </h1>
    <main id="boxes">
         <div id="column1">
            <h2> Temperature </h2>
            Current Room Temperature: {{room_temperature}}°c
        </div>
         <div id="column2">
            <h2> Humidity </h2>
            Current Room Humidity : {{room_humidity}}%
         </div>
    </main>

</body>
</html>
