:root {
    /* Black + DarkGrey */
    --color0: #282828;
    --color8: #928374;
    /* ! DarkRed + Red */
    --color1: #cc241d;
    --color9: #fb4934;
    /* ! DarkGreen + Green */
    --color2: #98971a;
    --color10: #b8bb26;
    /* ! DarkYellow + Yellow */
    --color3: #d79921;
    --color11: #fabd2f;
    /* ! DarkBlue + Blue */
    --color4: #458588;
    --color12: #83a598;
    /* ! DarkMagenta + Magenta */
    --color5: #b16286;
    --color13: #d3869b;
    /* !DarkCyan + Cyan (both not tango) */
    --color6: #689d6a;
    --color14: #8ec07c;
    /* ! LightGrey + White */
    --color7: #a89984;
    --color15: #ebdbb2;

    --color-fg: #ebdbb2;
    --color-bg: #282828;

    --color-fg2: #1d2021;
    --color-bg2: #d5c4a1;
}

body {
    margin: 10px;
    background-color: var(--color-bg);
}

h1 {
    color: var(--color-fg);
    padding: 20px;
    align-content: center;
    margin-top: 40px;
    width: 100%;
}

h2 {
    color: var(--color11);
    text-align: center;
    align-content: center;
}

p {
    color: var(--color-fg);
    padding: 20px;
}

button {
    color: var(--color-fg2);
    background-color: var(--color-bg2);
    margin: 20px;
}

input {
    color: var(--color-fg2);
    background-color: var(--color-bg2);
    margin: 20px;
}

ul {
    color: var(--color-fg2);
    background-color: var(--color-bg2);
    border-radius: 20px;
    list-style-type: none;
    width: 500px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: var(--color-bg);
}


#navigationbar {
    & ul {
        color: var(--color-fg);
        list-style-type: none;
        border-radius: 0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--color-bg);
    }

    & li {
        float:left
    }

    & li a {
        display: block;
        color: var(--color-fg);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    & li a:hover:not(.active) {
        background-color: var(--color8);
    }

    & li a.active {
        background-color: var(--color3);
    }
}
